@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  font-family: 'Inter', sans-serif;
  color: white;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 2px;
}

